    <section id = "Contacto">
        <h2>&#11165 Dirección</h2>
        <br>
        <p>La Victoria - Pujilí. Barrio Centro, 11 de Noviembre</p>
        <br>
        <h2>&#x2709 Email</h2>
        <br>
        <p> <a href="mailto:dulceconexion@gmail.com">dulceconexion@gmail.com</a> </p>
        <br>
        <h2>&#9743 Teléfono</h2>
        <br>
        <p> <a href="tel:(+593) 98 323 13">(+593) 98 323 1313</a></p>
        <br>
    </section>
{{> pie}}  