    <section id= "Productos">
        <div class="container">
            <br>
            <div class="row">
                <div class="col">
                    <aside>
                        <h2>Revisa</h2>
                        <h1>Nuestros productos</h1>
                        <p>Estos son algunos de los diseños que te pueden encantar, adquiere ya un pastele para la personita que tanto quieres!</p>
                        <a id="inventario" href="/inventario">INVENTARIO</a>
                    </aside>
                </div>
                {{#productos}}
                {{/productos}}
            </div>
        </div>
    </section>
{{> contactos}}