{{> head }}
{{> navbar }}
    <section id= "Encabezado">
        <h2>Date un gusto!</h2>
        <h1>Pasteles hechos con amor para un día especial</h1>
        <a id="enca" href="">EXPLORAR</a>
    </section>

{{> informate }}