{{> head}}
    {{> navbar}}
    <h1 id="In">INVENTARIO</h1>
    <br>
    <br>
    <h3 id="Inv">Lista de productos</h3>
    <div class="listas">
        <div class="seccion">
            <table class="tabla table">
            <thead>
              <tr class="encabezado">
                <th scope="col">ID.</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr class="cuerpo-tabla">
                <th scope="row">1</th>
                <td>Pastel de chocolate con fruta</td>
                <td>Pastel de chocolates con futas y vela detallada</td>
                <td>$14.99</td>
              </tr>
              <tr class="cuerpo-tabla">
                <th scope="row">2</th>
                <td>Pastel de chocolate con fruta</td>
                <td>Pastel de chocolates con futas y vela detallada</td>
                <td>$19.99</td>
              </tr>
              <tr class="cuerpo-tabla">
                <th scope="row">3</th>
                <td>Pastel de chocolate con fruta</td>
                <td>Pastel de chocolates con futas y vela detallada</td>
                <td>$24.99</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  <br>
  <br>
  <br>
{{> pie}}